# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode config stuff
!.vscode/c_cpp_properties.json
!.vscode/tasks.json
!.vscode/settings.json

# Jetbrains IDEs
.idea/

# NDK stuff
out/
[Ll]ib/
[Ll]ibs/
[Oo]bj/
[Oo]bjs/
ndkpath.txt
*.zip
*.txt
*.log
Android.mk.backup

# QPM stuff
[Ee]xtern/
*.qmod
qpm.shared.json
qpm_defines.cmake
![Cc][Mm]ake[Ll]ists.txt

# CMake stuff
[Bb]uild/
cmake-build-*/
extern.cmake
AchievementImages/100 Million.jpg
AchievementImages/Charge.jpg
AchievementImages/Concentrate.jpg
AchievementImages/Day & Night.jpg
AchievementImages/Drill.jpg
AchievementImages/Drum Kit.jpg
AchievementImages/Expert.jpg
AchievementImages/Faster.jpg
AchievementImages/Flawless.jpg
AchievementImages/Focus.jpg
AchievementImages/Good Enough.jpg
AchievementImages/Hope.jpg
AchievementImages/info.json
AchievementImages/Memory.jpg
AchievementImages/No Mistakes.jpg
AchievementImages/Not the End.jpg
AchievementImages/On the Edge.jpg
AchievementImages/Pay Attention.jpg
AchievementImages/Peace.jpg
AchievementImages/Platinum.jpg
AchievementImages/Precision.jpg
AchievementImages/Progress.jpg
AchievementImages/Pure.jpg
AchievementImages/Special.jpg
AchievementImages/Supreme.jpg
AchievementImages/Traveller.jpg
AchievementImages/Warm-up.jpg
AchievementImages/You Are Ready.jpg
cover.afphoto
